.footer {
    width: 100%;
    height: min-content;
    background-color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-bottom: 0;
    
  }
  
  .socialMedia svg {
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .footer p {
    color: white;
  }

  /* Hide the scrollbar for WebKit-based browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 0.5em;
  }
  
  body::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  